@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Jeju Hallasan", cursive;
  font-size: 16px;
  margin: 0;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  outline: 0;
}
.btn:focus-visible {
  outline: 2px solid blue;
  outline-offset: 2px;
}
.btn.default {
  background: rgb(255, 217, 0);
  border-color: #808080;
}
.btn.default:hover {
  background: #f5d000;
}
.btn.red {
  background: rgb(223, 59, 0);
  color: #fff;
}
.btn.red:hover {
  background: #d53800;
}
.btn.transparent {
  background: transparent;
}
.btn.transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

.form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 6px;
}
.form-box label {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}
.form-box .form-control {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
  padding: 8px 16px;
  font-size: 15px;
  font-weight: 400;
  min-height: 32px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}
.container:before, .container:after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.container p {
  visibility: visible;
  width: 90vw;
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  -webkit-transition: visibility 0.5s linear;
  transition: visibility 0.5s linear;
}
.container p.hide {
  visibility: hidden;
}

.popup {
  position: fixed;
  top: 0;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.popup.show {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.popup .inner {
  position: absolute;
  top: -50%;
  left: 50%;
  width: 60%;
  min-width: 360px;
  padding: 16px;
  background: #fff;
  border-radius: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease-in 0.3s;
  transition: all 0.5s ease-in 0.3s;
  overflow: auto;
}
.popup .inner.active {
  top: 50%;
}
.popup .inner-header {
  position: relative;
  margin: -16px -16px 0 -16px;
  text-align: center;
  background: pink;
}
.popup .inner-header h1 {
  margin: 0;
  padding: 16px;
  font-size: 1.3em;
  font-weight: 500;
}
.popup .inner-header .btn {
  position: absolute;
  top: 8px;
  right: 16px;
}
.popup .inner-body {
  padding: 16px;
}
.popup .inner-footer:after {
  content: "";
  display: block;
  clear: both;
}
.popup .inner-footer .btn {
  width: 100%;
  float: right;
}